<div class="itemRow">
    <div class=" col-md-12">
        <h4> ID - {{coffee.id}}</h4>
    </div>
</div>
<div class="itemRow">
    <div class=" col-md-12">
        <h4>UID - {{coffee.uid}}</h4>
    </div>
</div>
<div class="itemRow">
    <div class=" col-md-12">
        <h4> Blend Name - {{coffee.blend_name}}</h4>
    </div>
</div>
<div class="itemRow">
    <div class=" col-md-12">
        <h4>Variety - {{coffee.variety}}</h4>
    </div>
</div>
<div class="itemRow">
    <div class=" col-md-12">
        <h4>Intensifier - {{coffee.intensifier}}</h4>
    </div>
</div>